.email-details {
  grid-area: email-list;
  background-color: var(--clr-mail2);
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  padding: 20px;
}

.email-details-header {
    display: grid;
    grid-template-columns: 60px 120px 1fr 130px;
    grid-template-rows: 50px;
    gap: 0px 20px;
    grid-template-areas:
      ". . . .";
    align-items: center;
    margin-block-end: 20px;
}

.email-details-header > *:hover {
    cursor: pointer;
}

.email-details-header img {
    height: 15px;
}

.email-details .email-headline {
    font-size: 1.375rem;
}

.email-details .email-content {
    margin-block-end: 20px;
    padding-inline: 80px;
    height: calc(100vh - 286px);
    overflow-y: auto;
}

.email-details .email-subject {
    display: grid;
    grid-template-columns: max-content 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ". . .";
}

.email-details .email-subject span:first-child {
}

.email-details .email-from {
      max-width: 180px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      margin-inline-start: 30px;
}

.email-details .email-sent-time {
    justify-self: self-end;
}

.email-details .sender-img {
  width: 31px;
  position: absolute;
  transform: translateX(-200%);
}

.email-details .email-star-icon:hover, .email-details .email-bookmark-icon:hover, .email-details .delete-email-icon:hover {
    filter: none;
}

.email-details .delete-email-icon {
    filter: invert(81%) sepia(4%) saturate(215%) hue-rotate(175deg) brightness(94%) contrast(92%);
    transition: 0.4s;
}