@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face {
    font-family: ProductSans-Medium;
    src: url(../../fonts/Google-sans-Font-Family/ProductSans-Light.ttf);
}

@font-face {
    font-family: ProductSans-light;
    src: url(../../fonts/Google-sans-Font-Family/ProductSans-Light.ttf);
}

@font-face {
    font-family: ProductSans-r-medium;
    src: url(../../fonts/Google-sans-Font-Family/ProductSans-Medium.ttf);
}

@font-face {
    font-family: ProductSans-Bold;
    src: url(../../fonts/Google-sans-Font-Family/ProductSans-Bold.ttf);
}
